<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="black-bg">
  <div class="header container-fluid" id="picture-header">
    <h1 class="text-center">Gallery</h1>
      <div id="button-div">
        <%= link_to updatepictures_path, class: "btn-md" , id:'ghost-button-pictures' do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"> Update Pictures</i>
        <% end %>
        <%= link_to new_picture_path, class: "btn-md" , id:'ghost-button-pictures' do %>
          <i class="fa fa-upload" aria-hidden="true"> Upload Image</i>
        <% end %>
      </div>
  </div>
  <div id="container">
    <div class="row">
      <div class="col-md-12" id="links"> <%# Used by blueimp gallery %>
        <% @pictures.each_with_index do |picture,index| %>
        <div class="item"> <%# used to resize the images %>
          <a href="<%= picture.url %>" title="<%= picture.title %>">
            <img id="item" src="<%= picture.url %>" alt="<%= picture.title %>">
          </a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
